@using Extrade.ViewModels
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model ChangePasswordViewModel
<h1>Change Password</h1>
<form asp-action="ChangePassword" asp-controller="UseAsMarketer" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <label asp-for="CurrentPassword">CurrentPassword :</label>
    <input asp-for="CurrentPassword" />
    <br /><br />
    <label asp-for="NewPassword">NewPassword :</label>
    <input asp-for="NewPassword"/>
    <br /><br />
    <label asp-for="ConfirmPassword">ConfirmPassword: </label>
    <input asp-for="ConfirmPassword"/>
    <br /><br />
    <input type="submit" value="Change Password"/>
</form>