

<@*form asp-controller="Product" asp-action="Add" method="post" enctype="multipart/form-data">
        <h1>Add Product</h1>
    <div>
        <label asp-for="NameEn">Name English : </label>
        <input asp-for="NameEn"/>
    </div>
    <br /><br />
    <div>
        <label asp-for="NameAr">Name Arabic : </label>
        <input asp-for="NameAr"/>
    </div><br /><br />
    <div>
        <label for="Description">Description : </label>
        <textarea asp-for="Description"/>
    </div><br /><br />
    <div>
        <label asp-for="">Password : </label>
        <input type="text" name="Password" id="PasswordHash"/>
    </div><br /><br />
    <div>
        <label for="Country">Country : </label>
        <input type="text" name="Country" id="Country"/>
    </div><br /><br />
    <div>
        <label for="City">City : </label>
        <input type="text" name="City" id="City"/>
    </div><br /><br />
    <div>
        <label for="Street">Street : </label>
        <input type="text" name="Street" id="Street"/>
    </div><br /><br />
    <div>
        <label for="uploadedimg">Image : </label>
        <input type="file" name="uploadedimg" id="uploadedimg"/>
    </div><br /><br />
    <div>
        <label for="Phones">Phone : </label>
        <input type="text" name="Phones" id="Phones"/>
    </div><br /><br />
        <input type="submit" value="Create"/>
</form>*@