@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@using Extrade.ViewModels

@model ProductEditViewModel

<form asp-controller="Product" asp-action="Add" method="post" enctype="multipart/form-data">
        <h1>Add Product</h1>
    <div>
        <label asp-for="NameEn">Name English : </label>
        <input asp-for="NameEn"/>
    </div>
    <br /><br />
    <div>
        <label asp-for="NameAr">Name Arabic : </label>
        <input asp-for="NameAr"/>
    </div>
    <br>
    <div>
        <label asp-for="Price">Price : </label>
        <input asp-for="Price"/>
    </div>

     <div>
        <label asp-for="Quantity">Quantity : </label>
        <input asp-for="Quantity"/>
    </div>
     <div>
        <label asp-for="Description">Description : </label>
        <input asp-for="Description"/>
    </div>
    <div>
        <label for="uploadedimg">Image : </label>
        <input type="file" name="uploadedimg" id="uploadedimg"/>
    </div>
   
        <input type="submit" value="Create"/>
</form>